.main {
  display: flex;
  flex-direction: column;
  margin: 90px auto 16px auto;
}

.head {
  padding: 0 1rem;
  border-bottom: .5px solid #E7E6E5;

  &Banner {
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    overflow: hidden;
    height: 100px;
  }
}

.filters {
  padding: 16px 0;
  display: flex;
  gap: 16px;

  span {
    color: #6A7798;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #F5F6F6;
    border-radius: 52px;
    padding: 6px 8px;
  }
}

.shortcuts {
  display: flex;
  gap: 16px;
  padding: 16px;
  overflow: auto;
  border-bottom: .5px solid #E7E6E5;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &Card {
    width: 86px;
    flex-shrink: 0;
  }

  &Img {
    width: 70px;
  }

  &Title {
    color: #00142A;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 13px;

  &Head {
    width: 165px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 3px 0;


    h1 {
      color: #00142A;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }

    small {
      color: #6A7798;
      font-size: 10px;
      line-height: 12px;
    }

    span {
      color: 00142A;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }

    &:nth-child(2) {
      justify-content: space-between;
    }
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 165px !important;
    height: 298px;
    padding: 10px;
    border: 1px solid #E7E6E5;
    border-radius: 8px;
    color: #00142A;


    &Img {
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
    }

    &Title {
      font-size: 12px;
      font-weight: 400;

    }

    &Price {
      text-align: left;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }

    &OldPrice {
      text-align: left;
      margin-top: -10px;
      color: #6A7798;
      font-size: 10px;
      font-weight: 600;
      line-height: 24px;
    }

    &Tag {
      padding: 4px 5px;
      color: #6A7798;
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      border-radius: 4px;
      background-color: #6a77981a;
    }

    &DiscountPercent {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      gap: 2px;
      padding: 1px 4px;
      background-color: #ff000014;
      border-radius: 4px;
      align-items: center;
      color: #F00;
      font-size: 10px;
      font-weight: 400;
      line-height: 17px;

      &::after {
        content: url('/svg/discount.svg');
        height: 13px;
      }
    }

  }
}
