// @import url(font.scss);

body {
  margin: 0;
  font-family: Yekan Bakh, serif !important;
  font-weight: 300;
  text-align: right !important;
  font-size: 14px;
  direction: rtl !important;
  overflow-x: hidden !important;
  line-height: 1.5;
  color: #2A363B;
}

.onPopup {
  overflow: clip;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

a {
  text-decoration: none
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

.dNone {
  display: none !important
}


/* LOADING */
.loading-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 99999;
  inset: 0;
  backdrop-filter: blur(12px);
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading div {
  animation: loading 1s linear infinite;
  width: 115.19999999999999px;
  height: 115.19999999999999px;
  border-radius: 50%;
  box-shadow: 0 4.32px 0 0 #3f4d67;
  transform-origin: 57.599999999999994px 59.76px;
}
.loadingio-spinner-eclipse-nfpkt5sn92h {
  width: 144px;
  height: 144px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading div {
  box-sizing: content-box;
}
