.head {
  display: flex;
  background-color: #E84D0F;
  border-bottom: 1px solid #aaa;
  padding: 1.5rem;
  justify-content: space-between;

  input {
    padding: 6px 10px; 
    width: 225px;
    border-radius: 23px;
    border: 1px solid #FFF;
    font-family: Yekan Bakh !important;
    text-align: right;
    font-size: 12px;
    font-weight: 400;

    &::placeholder {
      color: #AAA;
    }
  }
}