.wideBtn {
  color: #FFF;
  font-family: Yekan Bakh;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  padding: 14px;
  border-radius: 32px;
  background: #E84D0F;
  border: none;
}