.main {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  gap: 20px;
  width: calc(100% - 32px);
}

.slider {
  border-radius: 8px;
  background-color: #E84D0F;
  width: 100%;
  overflow: hidden;
}

.topBanners {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -10px;
  width: 100%;
  height: 200px;
  gap: 10px;

  div {
    border-radius: 8px;
    width: calc(50% - 5px);
    background-color: #E84D0F;
    overflow: hidden;

  }

  &1 {
    height: 100%;
  }

  &2 {
    height: 50px;
  }

  &3 {
    height: 140px;
  }

}


.product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 200px;
  height: 298px;
  padding: 10px;
  border: 1px solid #E7E6E5;
  border-radius: 8px;
  color: #00142A;

  &Img {
    width: 170px;
    border-radius: 8px;
    overflow: hidden;
  }

  &Title {
    font-size: 12px;
    font-weight: 400;

  }

  &Price {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }

  &OldPrice {
    text-align: left;
    margin-top: -10px;
    color: #6A7798;
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
  }

  &Tag {
    padding: 4px 5px;
    color: #6A7798;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    border-radius: 4px;
    background-color: #6a77981a;
  }

  &DiscountPercent {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 2px;
    padding: 1px 4px;
    background-color: #ff000014;
    border-radius: 4px;
    align-items: center;
    color: #F00;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;

    &::after {
      content: url('/svg/discount.svg');
      height: 13px;
    }
  }

}

.productSML {
  display: flex;
  gap: 8px;
  width: 240px;
  height: 100px;
  border: 1px solid #E7E6E5;
  border-radius: 8px;
  color: #00142A;

  .productImg {
    flex-shrink: 0;
    width: 100px;
  }

  .productPrice {
    font-size: 14px;
  }

  &Details {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.shortcuts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;

  &PartReq {
    width: 100%;
    background-color: #F0F5FE;
    border-radius: 8px;
    height: 85px;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      padding: 10px;
      overflow: hidden;
    }


    span {
      color: #4574F1;
      font-weight: 600;
      line-height: 14px;
      width: calc(100% - 50px);
    }

    p {
      color: #6A7798;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      width: calc(100% - 50px);
    }
  }


  &OverlayBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    >span:first-child {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #E84D0F;
    }

    >span:last-child {
      color: #6A7798;
      font-size: 10px;
      line-height: 17px;
    }
  }
}

.blog {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px solid #E7E6E5;

  div {
    overflow: hidden;
    border-radius: 8px;
  }

  &1 {
    width: 100%;
  }

  &2,
  &3 {
    width: calc(50% - 5px);
    overflow: hidden;
  }

  &4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 90px;
    border-radius: 8px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);

    span {
      color: #6A7798;
    }

    a {
      border-radius: 120px;
      border: .5px solid #E84D0F;
      color: #E84D0F;
      padding: 5px 10px;
    }
  }
}

.wideBanner {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}