.sparePartBlue {
  content: url('/svg/spare-part-blue.svg');
}

.timerIcon {
  content: url('/svg/orange-timer.svg');
}

.chevronLeft {
  content: url('/svg/chevron-left.svg');
}

.headphone {
  content: url('/svg/headphone.svg');
}

.category {
  content: url('/svg/category.svg');
}

.car {
  content: url('/svg/car.svg');
}

.factory {
  content: url('/svg/car.svg');
}

.sparePart {
  content: url('/svg/spare-part.svg');
}

.addCar {
  content: url('/svg/add-car.svg');
}

.chevronBot {
  content: url('/svg/chevron-bottom.svg');
}

.filter {
  content: url('/svg/filter.svg');
}

.switchOff {
  content: url('/svg/switch-off.svg');
}

.switchOn {
  content: url('/svg/switch-on.svg');
}

.close {
  content: url('/svg/close.svg');
}