.sparePartBlue {
  content: url('/svg/spare-part-blue.svg');
}

.timerIcon {
  content: url('/svg/orange-timer.svg');
}

.chevronLeft {
  content: url('/svg/chevron-left.svg');
}

.chevronLeftOrange {
  content: url('/svg/chevron-left-orange.svg');
}

.headphone {
  content: url('/svg/headphone.svg');
}

.category {
  content: url('/svg/category.svg');
}

.car {
  content: url('/svg/car.svg');
}

.factory {
  content: url('/svg/car.svg');
}

.sparePart {
  content: url('/svg/spare-part.svg');
}

.addCar {
  content: url('/svg/add-car.svg');
}

.chevronBot {
  content: url('/svg/chevron-bottom.svg');
}

.chevronBotWhite {
  content: url('/svg/chevron-bottom-white.svg');
}

.filter {
  content: url('/svg/filter.svg');
}

.switchOff {
  content: url('/svg/switch-off.svg');
}

.switchOn {
  content: url('/svg/switch-on.svg');
}

.close {
  content: url('/svg/close.svg');
}

.cartNav {
  content: url('/svg/cart-nav.svg');
}

.cartNavOn {
  content: url('/svg/cart-nav-on.svg');
}

.sparePartNav {
  content: url('/svg/spare-part-nav.svg');
}

.sparePartNavOn {
  content: url('/svg/spare-part-nav-on.svg');
}

.menuNav {
  content: url('/svg/menu-nav.svg');
}

.menuNavOn {
  content: url('/svg/menu-nav-on.svg');
}

.homeNav {
  content: url('/svg/home-nav.svg');

}

.homeNavOn {
  content: url('/svg/home-nav-on.svg');

}

.plusOrange {
  content: url('/svg/plus-orange.svg');
}

.plusOrangeBig {
  content: url('/svg/plus-orange-big.svg');
}


.profile {
  content: url('/svg/profile.svg');
}

.chevronLeftBlue {
  content: url('/svg/chevron-left-blue.svg');
}

.chevronLeftBlack {
  content: url('/svg/chevron-left-black.svg')
}

.headphoneBlue {
  content: url('/svg/headphone-blue.svg');
}

.plus {
  content: url('/svg/plus.svg');
}

.sparePartBlueSmall {
  content: url('/svg/spare-part-blue-small.svg')
}

.profilePic {
  content: url('/svg/profile-img.svg');
}

.edit {
  content: url('/svg/edit.svg');
}

.heart {
  content: url('/svg/heart.svg');
}

.location {
  content: url('/svg/location.svg');
}

.shoppingBag {
  content: url('/svg/shopping-bag.svg');
}

.user {
  content: url('/svg/user.svg');
}

.faq {
  content: url('/svg/faq.svg');
}

.logOut {
  content: url('/svg/log-out.svg');
}

.plusBlack {
  content: url('/svg/plus-black.svg');
}

.trash {
  content: url('/svg/trash.svg');
}

.trashGray {
  content: url('/svg/trash-gray.svg');
}

.locationFill {
  content: url('/svg/location-fill.svg');
}

.arrowLeft {
  content: url("/svg/arrow-left.svg");
}

.arrowLeftBlue {
  content: url("/svg/arrow-left-blue.svg");
}


.minus {
  content: url("/svg/minus.svg");
}

.plusBlackSmall {
  content: url("/svg/plus-black-small.svg");
}

.headphoneOrange {
  content: url("/svg/headphones-orange.svg");
}

.shippingProgressChecked {
  content: url("/svg/shipping-progress-completed.svg");
}

.shippingProgressCurrent {
  content: url("/svg/shipping-in-progress.svg");
}

.shippingProgressNext {
  content: url("/svg/shipping-progress-next.svg");
}

.checkBoxRound {
  content: url("/svg/select-round-not-checked.svg");
}

.checkBoxRoundChecked {
  content: url("/svg/select-round-checked.svg");
}

.options {
  content: url("/svg/options.svg");
}

.postLogo {
  content: url("/svg/post-logo.svg");
}

.postLogoSelected {
  content: url("/svg/post-logo-orange.svg");
}


.tipaxLogo {
  content: url("/svg/tipax-logo.svg");
}

.tipaxLogoSelected {
  content: url("/svg/tipax-logo-orange.svg");
}


.transportCar {
  content: url("/svg/transport-car.svg");
}

.transportCarSelected {
  content: url("/svg/transport-car-orange.svg");
}


.transportMotor {
  content: url("/svg/transport-motor.svg");
}

.transportMotorSelected {
  content: url("/svg/transport-motor-orange.svg");
}

.copy {
  content: url("/svg/copy.svg");
}

.info{
  content: url("/svg/info.svg");
}