.sparePartBlue {
  content: url('/svg/spare-part-blue.svg');
}

.timerIcon {
  content: url('/svg/orange-timer.svg');
}

.chevronLeft {
  content: url('/svg/chevron-left.svg');
}

.headphone {
  content: url('/svg/headphone.svg');
}

.category {
  content: url('/svg/category.svg');
}

.car {
  content: url('/svg/car.svg');
}

.factory {
  content: url('/svg/car.svg');
}

.sparePart {
  content: url('/svg/spare-part.svg');
}

.addCar {
  content: url('/svg/add-car.svg');
}

.chevronBot {
  content: url('/svg/chevron-bottom.svg');
}

.chevronBotWhite{
  content: url('/svg/chevron-bottom-white.svg');
}

.filter {
  content: url('/svg/filter.svg');
}

.switchOff {
  content: url('/svg/switch-off.svg');
}

.switchOn {
  content: url('/svg/switch-on.svg');
}

.close {
  content: url('/svg/close.svg');
}

.cartNav {
  content: url('/svg/cart-nav.svg');
}

.cartNavOn {
  content: url('/svg/cart-nav-on.svg');
}

.sparePartNav {
  content: url('/svg/spare-part-nav.svg');
}

.sparePartNavOn {
  content: url('/svg/spare-part-nav-on.svg');
}

.menuNav {
  content: url('/svg/menu-nav.svg');
}

.menuNavOn {
  content: url('/svg/menu-nav-on.svg');
}

.homeNav {
  content: url('/svg/home-nav.svg');

}

.homeNavOn {
  content: url('/svg/home-nav-on.svg');

}

.plusOrange {
  content: url('/svg/plus-orange.svg');
}

.profile{
  content: url('/svg/profile.svg');
}