// @import url(font.scss);

body {
  margin: 0;
  font-family: Yekan Bakh, serif !important;
  font-weight: 300;
  text-align: right !important;
  font-size: 14px;
  direction: rtl !important;
  overflow-x: hidden !important;
  line-height: 1.5;
  color: #2A363B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

a {
  text-decoration: none
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

.dNone {
  display: none !important
}